<div ng-include="'app/menu/menu.html'"></div>

<h2>Tarea Pendientes</h2>

<div  class="search">
		<input type="text" ng-model="tareasPendientes.query" placeholder="Buscar">
</div>

<div class="taskPendientes">
	<a  class="fila" ng-repeat="task in tareasPendientes.tasks | filter:{'name':  tareasPendientes.query}">
	   <div  class="cardView" >
            <span class="md-headline">{{task.name}}</span><br>
            <span class="md-subhead">{{task.fecha}}</span><br>
            <span class="md-subhead">{{task.estado}}</span><br><br><br>
            <button ng-click="tareasPendientes.showConfirm($event,task)">Completed</button>
 			<button ng-click="tareasPendientes.taskDetail(task)">Detail</button>
      </div>
	</a>
</div>
<div class="load">
	<button ng-click="tareasPendientes.loadTask($event)"><i class="material-icons">&#xE148;</i></button>
</div>

	


   

