.search input {
         margin-left: 15%;
         width: 70%;
         height: 35px;
        border-radius: 30px;
        outline: none;
        font-size: 20px;
        padding-left: 30px;
        border: 1px solid #b6b4b4;
    }

h2{
    text-align: center;
}

.taskPendientes {
    padding: 0 2.5%; 
}

.taskPendientes .fila .cardView{
    padding: 2% 2.5%;
    width: 25%;
    margin: 0 1% 10px 1%;
    height: 150px;
    border: 3px solid rgba(113, 113, 113, 0.79);
    background: blanchedalmond;
    display: inline-block;
}
.cardView button{
	background: azure;
     width: 45%;
     height: 35px;
}

.search{
    margin-bottom: 5%;
    margin-top: 3%;
}

.load button{
	height: 40px;
    width: 12%;
    margin-left: 40%;
    margin-bottom: 10%;
}

@media only screen and (min-width:600px) and (max-width: 950px)  {
    
    .taskPendientes .fila .cardView{
        width: 40%;
    }
}

@media only screen and (max-width: 600px){
    .taskPendientes .fila .cardView{
        width: 90%;
    }
}
