.login-container {
	position: relative;
    background: rgb(80, 33, 0);
}

.header {
		min-height: 200px;
		background: chocolate;
}

.floating-div {
	position: relative;
    margin: 0 auto;
    top: -100px;
	padding: 0;
	background: honeydew;
        
}

.floating-div form {
	    padding: 10%;
    height: 100%;
    text-align: center;
}  

.floating-div  input {
        width: 45%;
    height: 35px;
    border-radius: 5px;
    outline: 0;
    font-size: 20px;
    padding-left: 5%;
    position: relative;
    border: 1px solid #b6b4b4;
    margin-top: 15px;
}

.floating-div   button {
	padding: 10px 40px;
    border-radius: 4px;
    outline: none;
    border: 1px solid gray;
    background: #c62828;
    width: 50%;
    margin: 15px 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}