<div class="login-container">
	<div class="header">
	</div>
	<div class="floating-div">
		<form >	
				<input id="correo" name="correo" type="text" value="" placeholder="Ingresa username" ng-model="login.user.username"  required/>
				<input id="password" name="password" type="password" value="" placeholder="Ingresa password" ng-model="login.user.password"  required/>
			<button class="buttonLogin" ng-click="login.login()">Iniciar</button>
		</form>
	</div>

</div>