
<div ng-include="'app/menu/menu.html'"></div>

<h2>Registro Tarea</h2>

<div  layout="column" ng-cloak class="md-inline-form">
  <md-content layout-padding>
    <div>
     
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Nombre</label>
            <input ng-model="registroTarea.task.name">
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
           <md-input-container class="md-block" flex-gt-sm>
            <label>Fecha</label>
            <md-datepicker ng-model="registroTarea.task.fecha"></md-datepicker>
          </md-input-container>         
        
        <md-input-container class="md-block" flex-gt-sm>
          <label>Descripcion</label>
          <textarea ng-model="registroTarea.task.description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
        </md-input-container>
  	 	</div>
    </div>
  </md-content>
  <md-button class="md-raised md-primary newbutton" ng-click="registroTarea.registerTask($event)">Nueva Tarea</md-button>
</div>