<header>
  <div ng-controller="menuCtrl as main" class="menu">
    <i class="material-icons" ng-click="toggleLeft()">&#xE5D2;</i>
  </div>
  <img src="img/logo.png" >
</header>


<div ng-controller="menuCtrl as main" layout="column" ng-cloak>
     <md-sidenav class="md-sidenav-left" md-component-id="left"
                md-disable-backdrop md-whiteframe="4">
        <i ng-click="toggleLeft()" class="material-icons cerrarMenu">&#xE14C;</i>
        <div class="profile">
          <img ng-src="https://cdn3.iconfinder.com/data/icons/internet-and-web-4/78/internt_web_technology-13-256.png" alt="Avatar">        
          <div class="name">{{$root.user.name}}</div>
        </div>       
      <md-content >
        <div ng-click="Register()"   class="itemMenu">
         <i class="material-icons" >&#xE147;</i> Register Tasks
        </div>
        <div ng-click="TaskPeding()"  class="itemMenu">
          <i class="material-icons">&#xE01B;</i> Tasks pending
        </div>
        <div ng-click="TasksCompleted()"  class="itemMenu">
         <i class="material-icons">&#xE5CA;</i> Tasks Completed
        </div>
        <div ng-click="ChangePassword()"  class="itemMenu">
           <i class="material-icons">&#xE0DA;</i> Change Password
        </div>
        <div ng-click="cerrarSession()"  class="itemMenu">
         <i class="material-icons">&#xE8AC;</i>  Logout
        </div>
      </md-content>
    </md-sidenav>
</div>
