header {
	height: 50px;
	text-align: center;
	position: relative;
	padding: 10px;
	background: chocolate;
	z-index: 10;
}
.menu {
  position: absolute;
  top: 18px;
  left: 24px;
  cursor: pointer;
}

header .menu i {
	font-size: 30px;
}

header	img {
  height: 100%;
}

.cerrarMenu{
	height: 28px;
    background: rgba(212, 127, 66, 0.87);
    padding-left: 92.5%;
    cursor: pointer;
}

.profile {
    background: rgba(212, 127, 66, 0.87);
}
.profile img {
    width: 100px;
    height: 100px;
    margin: 14px 0 12px 28px;
    border-radius: 100%;
}

.profile  .name {
    padding-top: 3px;
    font-size: x-large;
    margin-left: 11%;
}

.profile i{
   margin-left: 150px;
}

.itemMenu{
	width: 90%;
    height: 30px;
    margin-left: 10%;
    margin-top: 8%;
    cursor: pointer;
}

.itemMenu i
{
   margin-right: 20px;
}