<div ng-include="'app/menu/menu.html'"></div>

<h2>Tarea Finalizadas</h2>

<div  class="search">
	<input type="text"  ng-model="tareasFinalizadas.query" placeholder="Buscar">
</div>

<div class="taskFinalizadas">
	<a  class="fila" ng-repeat="task in tareasFinalizadas.tasks | filter:{'name':  tareasFinalizadas.query}">
	   <div  class="cardView" >
            <span class="md-headline">{{task.name}}</span><br>
            <span class="md-subhead">{{task.fecha}}</span><br>
            <span class="md-subhead">{{task.estado}}</span><br>
      </div>
	</a>
</div>
   