
<div ng-include="'app/menu/menu.html'"></div>

<div class="detalle-container">
	<h2>
		Description Task
		<i ng-click="detalleTarea.editTask(detalleTarea.taskDetails)" class="material-icons" >&#xE254;</i>
	</h2>

	<div class="datosTask">
		<div class="fila"><div class="col1">Name: 	</div><div class="col2">{{detalleTarea.taskDetails.name}}</div></div>
		<div class="fila"><div class="col1">Date: 	</div><div class="col2">{{detalleTarea.taskDetails.fecha}}</div></div>
		<div class="fila"><div class="col1">Descripcion: 	</div><div class="col2">{{detalleTarea.taskDetails.description}}</div></div>
	</div>

</div>




