.detalle-container {
	position: relative;
    margin: 5%;
}

.detalle-container i{
	margin-left: 7%;
    cursor: pointer;
}
 
.datosTask{
	padding: 3%;
    border-style: double;
}    

.datosTask .fila{
	    width: 100%;
    display: inline-block;
    margin-bottom: 2%;
}

.datosTask .fila .col1{
    display: inline-block;
    width: 50%;
    float: left;
}

.datosTask .fila .col2{
	    display: inline-block;
    width: 50%;
    float: left;
}