.error-form {
			color: red;
		}

.cambio-container{
	position: relative;
    margin: 5%;
}

.cambioPassword{
	padding-top: 3%;
    padding-left: 40%;
    padding-bottom: 3%;
    border-style: double;
}

.cambioPassword button{
	margin-top: 2%
}

@media only screen and (max-width: 600px){
    .cambioPassword{
		
	    padding-left: 20%;
	}
}