<div ng-include="'app/menu/menu.html'"></div>

<div class="cambio-container">
	<h2>Cambio Contraseña</h2>

	<div class="cambioPassword">
		<form name = "myForm" validate ng-submit="cambioContrasenia.cambiar()">
		<input type="password"  class="password" name="password" placeholder="Password" ng-model="cambioContrasenia.user.password" ng-minlength="8" special-char required>
				<span ng-show="myForm.password.$dirty" class="error-form" >
					<span ng-show="myForm.password.$error.required"><br>- Debes completar este campo</span>
					<span ng-show="myForm.password.$error.minlength"><br>- La contraseña debe tener como minimo 8 caracteres</span>
					<span ng-show="myForm.password.$error.specialChar"><br>- Debes usar al menos 1 caracter especial</span>
				</span><br>

			<button type="submit">Cambiar Contraseña</button>
		</form>
	</div>

</div>
