
<div ng-include="'app/menu/menu.html'"></div>

<div class="detalle-container">
	<h2>
		Edit Task
	</h2>
	<div class="datosTask">
		
			<div class="fila"><div class="col1">Name: </div> <div class="col2"><input  type="text" name="name" placeholder="name" ng-model="editTask.taskDetails.name"></div></div>	
			
			<div class="fila"><div class="col1">Date: </div> <div class="col2"><input  type="text" name="name" placeholder="name" ng-model="editTask.taskDetails.fecha"></div></div>
			
			<div class="fila"><div class="col1">Description: </div> <div class="col2"><textarea type="text" name="name" placeholder="name" ng-model="editTask.taskDetails.description"></textarea></div></div>

	</div>
	<button class="buttonUpdate" type="submit" ng-click="editTask.update($event)">Update</button>
</div>

