.detalle-container {
	position: relative;
    margin: 5%;
}

.detalle-container i{
	margin-left: 7%;
}
 
.datosTask{
	padding: 3%;
    border-style: double;
}    

.datosTask .fila{
	    width: 100%;
    display: inline-block;
    margin-bottom: 2%;
}

.datosTask .fila .col1{
    display: inline-block;
    width: 50%;
    float: left;
}

.datosTask .fila .col2{
	    display: inline-block;
    width: 50%;
    float: left;
}

.col2 input{
     width: 65%;
}
.col2 textarea{
        width: 65%;
        height: 150px;
}

.buttonUpdate{
    margin-top: 5%;
    margin-left: 30%;
    width: 30%;
    height: 35px;
}

@media only screen and (max-width: 600px){
    .col2 input{
         width: 90%;
    }

    .col2 textarea{
        width: 90%;
        height: 150px;
    }
}
